.counter-container{
  text-align: center;
    font-weight: bold;
    font-family: Poppins, sans-serif;
}

.count-display{
  font-size: large;
  margin-bottom: 100px;
}

.counter-button{
  width: 150px;
  height: 50px;
  font-size: large;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}